.userDetail-Name{
    font-weight: bolder;
    font-size: x-large;
}

.userDetail-profile{
    background: rgba(25,118,210, 0.25);
    padding: 20px;
    border-radius: .5rem;
}

.userDetail-col{
    font-size:medium;
    font-weight: bold;
}
.userDetail-about{
    font-size: larger;
    font-weight: bold;
}

.userDetail-mentions{
    font-size: larger;
    font-weight: bold;
    margin-top: 25px;
}
.userDetail-link{
    text-decoration: none;
    color: black;
}
.userDetail-gridButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userDetail-button {
  background: rgba(25,118,210, 0.75);
  border-radius: .5rem;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-size: medium;
  padding: 0.5rem;
  width:fit-content;
}

.userDetail-button:hover {
    background: rgba(25,118,210, 1);
}
.userDetail-button:hover  .userDetail-link{
    color: white;
}

.userDetail-mention-Photo {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-top: 0.5rem;
}

.userDetail-mention-Photo:hover {
    border: 3px solid rgba(25,118,210, 1);
}

.userDetail-mention-Photo-Header{
    margin: 0.5rem auto 0.5rem 0.5rem;
    font-weight: lighter;
}

.userDetail-mention-Photo-Name{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.userDetail-mention-Photo-Name:hover{
    color: rgba(25,118,210, 1);
    font-size: large;
}

.userDetail-mention-at{
    font-weight: bold;
}

.userDetail-mentionDiv{
    width: 100%;
}

.userDetail-noMention{
    padding-left: 1rem;
}

.userDetail-mention-comment{
    margin-left: 1rem;
}

.userDetail-delete-profile-button, .userDetail-cancel-delete-button{
    border-radius: .5rem;
    justify-content: center;
    border: 0;
    cursor: pointer;
    font-size: medium;
    padding: 0.5rem;
    width:fit-content;
    color: white;
    margin-bottom: 0.5rem;
}
.userDetail-delete-profile-button{
    background: red;
}

.userDetail-cancel-delete-button{
    background: #6495ED;
}

.userDetail-delete-profile{
    display: flex;
    justify-content: flex-end;
}

.userDetails-Warning-Options{
    display: flex;
    justify-content: space-evenly;
}

.userDetail-Warning{
    background: white;
    color: black;
    border-radius: 0.5rem;
    border: 1px solid black;
    text-align: center;
}


