.topbar-appBar{
  height: 60;
  justify-content: "center";
}
.topbar-toolBar{
  display: flex;
  justify-content: space-between;
}
.toolBar-logoutButton, .toolBar-photoUpload,  .toolBar-fileUpload{
  border-radius: .5rem;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-size: medium;
  padding: 0.5rem;
  width:fit-content;
  color: white;
}

.toolBar-photoUpload,  .toolBar-fileUpload{
  background: #6495ED;
}
.toolBar-photoUpload:hover,  .toolBar-fileUpload:hover{
  border: solid #00008B;
}

.toolBar-logoutButton{
  background: #778899;
}

.toolBar-logoutButton:hover {
  color: black;
  background: #F8F8FF;
}

.success-message, .failure-message{
  padding: 10px;
  border-radius: .5rem;
  color: white;
  width: fit-content;
  font-size: medium;
}

.success-message{
  background-color: green;
}

.failure-message{
  background-color: #FF4545;
}