.userPhotos-photoDate{
    margin-bottom: 5px;
}

.userPhotos-comment {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: #F5F5F5;
    margin: 1rem 0 0 0;
    width: fit-content;
}
.userPhotos-commentHeader {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}
.userPhotos-commentHeaderP{
    width: fit-content;
}

.userPhotos-commentHeaderP p{
    font-size: smaller;
    font-weight: bold;
    margin: 0 0 0 20px;
}

.userPhotos-commentHeaderLink{
   width: fit-content;
}

.userPhotos-commentHeaderLink a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.userPhotos-commentHeaderLink a:hover{
    cursor: pointer;
    color: #1976d2;
}

.userPhotos-commentText{
    margin: 5px 0 0 0;
}

.failure-message{
    padding: 10px;
    background-color: #FF4545;
    border-radius: .5rem;
    color: white;
    width: fit-content;
    font-size: medium;
}

.userPhotos-mention-link{
    text-decoration: none;
    color: rgba(25,118,210, 1);
}

.userPhotos-mention-link:hover{
    font-weight: bolder;
}

.delete-Photo{
    display: flex;
    justify-content: flex-end;
}

.delete-photo-icon{
    width: 25px;
    height: 25px;
}

.delete-photo-icon:hover{
    cursor:pointer;
    width: 30px;
    height: 30px;
}

.delete-comment-icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.delete-comment-icon:hover{
    cursor:pointer;
    width: 15px;
    height: 15px;
}

.delete-comment{
    display: flex;
    justify-content: flex-end;
}

.userPhotos-photo-header{
    display: flex;
    justify-content: space-between;
}