.listItem:hover{
    background: rgba(25,118,210, 0.50);
}

.userList-link{
    text-decoration: none;
}

.userList-listItemText{
    color:black;
}
.userList-recent-Photo{
    width: 50px;
    height: 50px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-top: 0.5rem;
}

.userList-Recent-Post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userList-recent-Photo:hover {
    border: 3px solid rgba(25,118,210, 1);
}

.userList-Recent{
    margin: 0 auto 0 10%;
}